// Override default variables before the import
$body-bg: #666666;

$bone: #E3DAC9;
$beige: #F5F5DC;
$gold: #a57c00;
$darkcandy: #A40000;
$midnight: #18184E;
$darkberry: #872657;
$jindigo: #264348;

/* custom color mapping */
$theme-colors: (
  bone: $bone,
  beige: $beige,
  gold: $gold,
  darkcandy: $darkcandy,
  midnight: $midnight,
  darkberry: $darkberry,
  jindigo: $jindigo
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';