// Override default variables before the import
$body-bg: #666666;


$bone: #E3DAC9;
$beige: #f5f5dc;
$gunmetal: #2A3439;
$midnight: #18184e;
$darkberry: #872657;
$jindigo: #264348;

/* custom color mapping */
$theme-colors: (
  bone: $bone,
  beige: $beige,
  gunmetal: $gunmetal,
  midnight: $midnight,
  darkberry: $darkberry,
  jindigo: $jindigo
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';