body {
  margin: 0;
  font-family: 'Cuprum', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** background image */
  background-image: url('./img/bg_castle.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
